@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --font-body: 'Inter', 'sans-serif';
}

html {
  visibility: inherit;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
